/* line 1, ../../app/styles/kix2.scss */
body {
  margin: 0px;
  background-size: 100% 1.2em;
}

/* line 7, ../../app/styles/kix2.scss */
.container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  position: fixed;
}

/* line 15, ../../app/styles/kix2.scss */
.starfield {
  width: 100%;
  height: 100%;
  background-color: #000230;
}
/* line 22, ../../app/styles/kix2.scss */
.starfield .particle {
  position: absolute;
  -webkit-transition: font-size ease-out 1.5s;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(1) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(2) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(3) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(4) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(5) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(6) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(7) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(8) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(9) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(10) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(11) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(12) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(13) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(14) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(15) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(16) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(17) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(18) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(19) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(20) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(21) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(22) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(23) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(24) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(25) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(26) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(27) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(28) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(29) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(30) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(31) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(32) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(33) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(34) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(35) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(36) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(37) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(38) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(39) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(40) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(41) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(42) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(43) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(44) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(45) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(46) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(47) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(48) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(49) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(50) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(51) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(52) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(53) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(54) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(55) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(56) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(57) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(58) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(59) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(60) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(61) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(62) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(63) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(64) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(65) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(66) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(67) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(68) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(69) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(70) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(71) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(72) {
  background-color: #cf4517;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(73) {
  background-color: #cfcf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(74) {
  background-color: #45cf17;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(75) {
  background-color: #17cf73;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(76) {
  background-color: #17a1cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(77) {
  background-color: #1717cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(78) {
  background-color: #a117cf;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(79) {
  background-color: #cf1773;
}
/* line 26, ../../app/styles/kix2.scss */
.starfield .particle:nth-child(80) {
  background-color: #cf4517;
}
/* line 30, ../../app/styles/kix2.scss */
.starfield .particle.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-top: -15px;
  margin-left: -15px;
}
/* line 42, ../../app/styles/kix2.scss */
.starfield .particle.square:after {
  content: "■";
}
/* line 48, ../../app/styles/kix2.scss */
.starfield .particle.star:after {
  content: "★";
}
/* line 54, ../../app/styles/kix2.scss */
.starfield .particle.triangle:after {
  content: "▲";
}

@-webkit-keyframes spin {
  /* line 66, ../../app/styles/kix2.scss */
  from {
    opacity: 0;
  }

  /* line 69, ../../app/styles/kix2.scss */
  to {
    opacity: 1;
  }
}

/* line 74, ../../app/styles/kix2.scss */
.keyboard {
  height: 25%;
  width: 100%;
  background-color: #000;
  margin: 0px;
  position: absolute;
  bottom: 0px;
}
/* line 81, ../../app/styles/kix2.scss */
.keyboard .key {
  width: 12.5%;
  height: 100%;
  display: block;
  position: relative;
  float: right;
}
/* line 87, ../../app/styles/kix2.scss */
.keyboard .key .lazer {
  position: absolute;
  width: 100%;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(1) {
  background: #cfcf17;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(1).held {
  background: #ffff99;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(2) {
  background: #45cf17;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(2).held {
  background: #b3ff99;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(3) {
  background: #17cf73;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(3).held {
  background: #99ffcc;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(4) {
  background: #17a1cf;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(4).held {
  background: #99e6ff;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(5) {
  background: #1717cf;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(5).held {
  background: #9999ff;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(6) {
  background: #a117cf;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(6).held {
  background: #e699ff;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(7) {
  background: #cf1773;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(7).held {
  background: #ff99cc;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
/* line 97, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(8) {
  background: #cf4517;
  -webkit-transition: all ease-out 0.5s;
}
/* line 107, ../../app/styles/kix2.scss */
.keyboard .key:nth-child(8).held {
  background: #ffb399;
  -webkit-transition: all ease-out .05s;
  height: 160%;
  margin-top: -100px;
}
