/* line 1, ../../app/styles/sf-01.scss */
* {
  -webkit-appearance: none;
}

/* line 3, ../../app/styles/sf-01.scss */
body {
  margin: 0px;
  padding: 0px;
  background-color: #273349;
}

/* line 9, ../../app/styles/sf-01.scss */
.container {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

/* line 16, ../../app/styles/sf-01.scss */
.sf-01 {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 31, ../../app/styles/sf-01.scss */
.sf-01 .touch-move-scroll-blocker {
  width: 100%;
  height: 672px;
  top: 0px;
  position: absolute;
}
/* line 39, ../../app/styles/sf-01.scss */
.sf-01 .modules {
  height: 20%;
}
/* line 41, ../../app/styles/sf-01.scss */
.sf-01 .modules .module {
  float: left;
  padding: 0 5px 0 5px;
  text-transform: uppercase;
  height: 100%;
  margin: auto;
}
/* line 47, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .module-label {
  float: left;
  clear: both;
  width: 100%;
  font-weight: 600;
  color: #FFF;
  background-color: #FF0000;
  padding: 5px 0;
  text-align: center;
  font-size: 13px;
}
/* line 58, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider {
  padding: 15px 0 0 0;
  float: left;
  text-align: center;
  height: 100%;
  text-align: center;
}
/* line 65, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider .label {
  width: 100%;
  height: 30px;
  float: left;
  font-size: 12px;
  color: #FFF;
}
/* line 73, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider input[type="range"] {
  background-color: #000;
  -webkit-appearance: none;
  -webkit-transform: rotate(270deg);
  width: 105px;
  height: 10px;
  margin: 50px -40px -20px -40px;
}
/* line 82, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("../images/slider-thumb.png");
  height: 40px;
  width: 40px;
  background-color: #000;
  border: 0px solid #000;
  background-color: rgba(0, 0, 0, 0);
}

/* line 98, ../../app/styles/sf-01.scss */
#piano-keys {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  clear: both;
}
/* line 105, ../../app/styles/sf-01.scss */
#piano-keys .key {
  display: inline-block;
  width: 14.28571428571429%;
  height: 100%;
  border: 1px solid #000;
  float: left;
  position: relative;
  margin: -1px;
  background-color: #fdfdfd;
  -webkit-transition: background-color ease-out .25s;
}
/* line 116, ../../app/styles/sf-01.scss */
#piano-keys .key.sharp {
  background-color: #000;
  height: 66.6%;
  width: 66.6%;
  margin-right: 50%;
  position: absolute;
  left: 66.6%;
  z-index: 100;
}
/* line 124, ../../app/styles/sf-01.scss */
#piano-keys .key.sharp.held {
  background-color: #ffff00;
}
/* line 128, ../../app/styles/sf-01.scss */
#piano-keys .key.held {
  background-color: #ff0000;
}

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 5 only */
  /* line 138, ../../app/styles/sf-01.scss */
  .sf-01 .modules .module .slider input[type="range"] {
    margin: 50px -50px -20px -50px;
  }

  /* line 142, ../../app/styles/sf-01.scss */
  #piano-keys {
    height: 30%;
  }
}