* { -webkit-appearance: none; }

body{
  margin: 0px;
  padding: 0px;
  background-color:#273349;
}

.container{
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

.sf-01{
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  display: inline-block;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .touch-move-scroll-blocker{
    width: 100%;
    height: 672px;
    top: 0px;
    position:absolute;
    // sbackground-color:#273349;
  }

  .modules{
    height: 20%;
    .module{
      float: left;
      padding: 0 5px 0 5px;
      text-transform:uppercase;
      height: 100%;
      margin:auto;
      .module-label{
        float: left;
        clear: both;
        width: 100%;
        font-weight: 600;
        color: #FFF;
        background-color: #FF0000;
        padding:5px 0;
        text-align: center;
        font-size: 13px;
      }
      .slider{
        
        padding: 15px 0 0 0;
        float: left;
        text-align: center;
        height: 100%;

        .label{
          width: 100%;
          height: 30px;
          float: left;
          font-size: 12px;
          color: #FFF;
        }
        text-align: center;
        input[type="range"] {
          background-color: #000;
          -webkit-appearance: none;
          -webkit-transform: rotate(270deg);
          width: 105px;
          height: 10px;
          margin: 50px -40px -20px -40px;
        }

        input[type='range']::-webkit-slider-thumb {
          -webkit-appearance: none;
          background-image: url("../images/slider-thumb.png");
          height:40px;
          width:40px;
          background-color: #000;
          border:0px solid #000;
          background-color: hsla(0,0,0,0);
        }
      }
      
    }
  }
}


#piano-keys{
  width: 100%;
  height: 50%;
  position:absolute;
  bottom: 0px;
  left:0px;
  clear: both;
  .key{
    display: inline-block;
    width: 14.28571428571429%; // 100/7 whole notes
    height: 100%;
    border:1px solid #000;
    float: left;
    position: relative;
    margin: -1px;
    background-color: #fdfdfd;
    -webkit-transition: background-color ease-out .25s;

    &.sharp{
      background-color: #000;
      height: 66.6%;
      width: 66.6%;
      margin-right: 50%;
      position: absolute;
      left: 66.6%;
      z-index: 100;
      &.held{
        background-color: #ffff00;
      };
    }
    &.held{
      background-color: #ff0000;
    };
  }
}


@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 5 only */
    .sf-01 .modules .module .slider{
        input[type="range"] {
          margin: 50px -50px -20px -50px;
        }
    } 
    #piano-keys{
      height: 30%;
    }
}
