/* line 1, ../../app/styles/sf-01.scss */
* {
  -webkit-appearance: none;
}

/* line 3, ../../app/styles/sf-01.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 9, ../../app/styles/sf-01.scss */
a {
  text-decoration: none;
}

/* line 13, ../../app/styles/sf-01.scss */
a, a:active, a:hover {
  color: #FFF;
  font-weight: 600;
}

/* line 18, ../../app/styles/sf-01.scss */
a:active, a:hover {
  text-decoration: underline;
}

/* line 22, ../../app/styles/sf-01.scss */
a:visited {
  color: #CCC;
}

/* line 27, ../../app/styles/sf-01.scss */
.container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  background-color: #273349;
  color: #fff;
  text-align: center;
}
/* line 39, ../../app/styles/sf-01.scss */
.container .parts {
  text-align: left;
  padding: 20px;
}

/* line 45, ../../app/styles/sf-01.scss */
.sf-01 {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 59, ../../app/styles/sf-01.scss */
.sf-01 .touch-move-scroll-blocker {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
}
/* line 68, ../../app/styles/sf-01.scss */
.sf-01 .modules {
  height: 20%;
}
/* line 70, ../../app/styles/sf-01.scss */
.sf-01 .modules .module {
  float: left;
  padding: 0 5px 0 5px;
  text-transform: uppercase;
  height: 100%;
  margin: auto;
}
/* line 76, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .module-label {
  float: left;
  clear: both;
  width: 100%;
  font-weight: 600;
  color: #FFF;
  background-color: #FF0000;
  padding: 3px 0;
  text-align: center;
  font-size: 10px;
}
/* line 87, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider {
  padding: 10px 0 0 0;
  float: left;
  text-align: center;
  height: 100%;
  position: relative;
  text-align: center;
}
/* line 95, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider .label {
  width: 100%;
  height: 25px;
  float: left;
  font-size: 9px;
  color: #FFF;
}
/* line 103, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider input[type="range"] {
  background-color: #000;
  -webkit-appearance: none;
  -webkit-transform: rotate(270deg);
  width: 105px;
  height: 5px;
  margin: 50px -40px -20px -40px;
}
/* line 112, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("../images/slider-thumb.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-color: #000;
  border: 0px solid #000;
  background-color: rgba(0, 0, 0, 0);
}
/* line 123, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider .waveform-label {
  position: absolute;
  top: 38px;
  left: -13px;
  height: 100%;
  width: 20px;
}
/* line 129, ../../app/styles/sf-01.scss */
.sf-01 .modules .module .slider .waveform-label img {
  padding: 6px 0px;
}

/* line 140, ../../app/styles/sf-01.scss */
#piano-keys {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  clear: both;
}
/* line 147, ../../app/styles/sf-01.scss */
#piano-keys .key {
  display: inline-block;
  width: 14.28571428571429%;
  height: 100%;
  border: 1px solid #000;
  float: left;
  position: relative;
  margin: -1px;
  background-color: #fdfdfd;
  -webkit-transition: background-color ease-out .25s;
}
/* line 158, ../../app/styles/sf-01.scss */
#piano-keys .key.sharp {
  background-color: #000;
  height: 66.6%;
  width: 66.6%;
  margin-right: 50%;
  position: absolute;
  left: 66.6%;
  z-index: 100;
}
/* line 166, ../../app/styles/sf-01.scss */
#piano-keys .key.sharp.held {
  background-color: #ffff00;
}
/* line 170, ../../app/styles/sf-01.scss */
#piano-keys .key.held {
  background-color: #ff0000;
}

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 5 only */
  /* line 180, ../../app/styles/sf-01.scss */
  .sf-01 .modules .module .slider input[type="range"] {
    margin: 50px -49px -20px -49px;
  }
  /* line 183, ../../app/styles/sf-01.scss */
  .sf-01 .modules .module .slider .waveform-label {
    position: absolute;
    top: 55px;
    left: -20px;
    height: 100%;
    width: 20px;
  }
  /* line 189, ../../app/styles/sf-01.scss */
  .sf-01 .modules .module .slider .waveform-label img {
    padding: 5px 0px;
  }

  /* line 194, ../../app/styles/sf-01.scss */
  #piano-keys {
    height: 30%;
  }
}
